body{
    box-sizing: border-box;
    }
th{
    background: olivedrab;
    border: ridge;
    color: rgb(255, 218, 51);
    text-shadow: 0 0 10px rgb(201, 0, 0);
}
h1{
    font-size: 28px;
    line-height: 1.5;
}
h2{
    font-size: 22px;
    line-height: 1.5;
    margin-right: 1%;
}
h3{
    font-size: 18px;
    line-height: 1.5;
}
form{
    margin: 1% 2%;
    display: inline-block;
    width: 30%;
}
tr{
    font-size: 18px;
    line-height: 1.5;
}

.container{
    border: ridge;
    width: 1420px;
    margin: 0 auto;
    background: tan;
    padding-top: 5px;
}
.table{
    height: 500px;
    width: 1400px;
    background: darkgoldenrod;
    border: ridge;
    margin: auto;
}
.tableHead{
    width: 1400px;
    padding: 0;
    margin: auto;
}
.adminInput{
    width: 1400px;
    height: 200px;
    border: ridge;
    margin: 5px auto;
    background: darkolivegreen;
    z-index: 22;
}
.tableRow{
    position: relative;
    height: 100%;
    background: rgb(91, 99, 88);
}
.routeName{
    position: relative;
    height: 20px;
    border: groove;
    border-right-width: 5px;
    border-left-width: 5px;
    border-color: rgb(141, 141, 141);
    padding-left: 1%;
    color: lightgray;
}
.routStination{
    background-image: linear-gradient(rgb(66, 66, 66), rgb(124, 124, 124), rgb(92, 92, 92)); 
}
.destination{
    border: ridge;
    position: relative;
    padding-left: 1%;
    border: groove;
    border-right-width: 5px;
    border-left-width: 5px;
    border-color: rgb(141, 141, 141);
    color: lightgray;
}
.runTime{
    text-align: center;
    border: ridge;
    border-color: rgb(141, 141, 141);
    background: rgb(91, 99, 88);
}
.minutes{
    text-align: center;
    border: ridge;
    border-color: rgb(141, 141, 141);
    background: rgb(91, 99, 88);
}
.forminess{
    display: inline-block;
    text-shadow: 0 0 10px rgb(182, 107, 10);
}
.numberTiles{
    display: inline-block;
    border: ridge;
    border-width: 2px;
    letter-spacing: 2px;
    border-color: rgb(141, 141, 141);
    background: tan;
    background-image: linear-gradient(rgb(216, 132, 22), tan, rgb(121, 85, 39)); 
    color: rgb(3, 36, 3);
    box-shadow: 0px 0px 10px #f0dead inset;
}
.num{
    position: relative;
    width: 70px;
    left: 0;
    background: firebrick;
    display: inline-block;
}
.min{
    position: relative;
    width: 70px;
    right: 0;
    top: 0;
    background: bisque;
    display: inline-block;
}
.adminForm{
    display: inline-block;
}
.trainImage{
    position: relative;
    margin: 0 1%;
}
.reverse{
    transform: scaleX(-1);
}
.glow{
    background: rgb(190, 14, 14);
    box-shadow: 0 0 25px rgb(133, 28, 28);
    z-index: 6;
}

#submit{
    margin: 1% 0;
}

#routeName,
#destination{
    width: 420px;
    width: 420px;
}

#nextTrain,
#eta,
#firstRun,
#frequency{
    width: 140px;
}

#firstHours,
#firstMinutes{
    width: 45px;
}

#route,
#dest,
#hours,
#minutes,
#freq,
#submit,
#clear{
    background: tan;
    box-shadow: 0 0 10px rgb(150, 88, 7) inset;
}